extends layout

block layout-content
	div.View.UserView
		div.NavBar
			div.Menu
				ul
					each value in nav
						a(href=`${value.link}`)
							li= value.name
			h1 Banks
		div.ListOfBanks
			each val in banks
				img(src=val.image)
				h2= val.name
				h4= val.founder
				h4 Motto: 
					= val.motto
				h4
					a(href=`https://twitter.com/TwitterDev/timelines/539487832448843776`).
						Tweets
					hr
		div.Footer